<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yearn Weekly #0</title>
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
  </head>
  <body>
    <p>🏡 <a href=/>yearn.news home</a></p>
    <h3>Yearn Weekly #0 - September 4, 2020</h3>
    <p>Welcome to Yearn Weekly &mdash; a weekly newsletter covering the latest news in the yearn.finance ecosystem!</p>
    <p><strong>Releases</strong></p>
    <ul>
    <li><a href="https://yearn.finance/vaults">yETH and yWETH vault(s) were added on Sept. 1</li>
    <li><a href="https://yearn.finance/earn">New website footer added to yearn.finance pages</a></li>
    <li><a href="https://defisafety.com/yearn-finance-process-quality-audit-results/">Defisafety.com releases audit of yearn.finance code validation, documentation, and testing</a></li>
    </ul>
    <p><strong>Yearn Stats&nbsp;</strong></p>
    <ul>
    <li><a href="https://stats.finance/yearn"><span style="font-weight: 400;">Total Value Locked: &gt;$1,300,000,000</span></a></li>
    <li><span style="font-weight: 400;">yCRV is the top vault this week with over </span><a href="https://stats.finance/yearn"><span style="font-weight: 400;">$225M in liquidity</span></a></li>
    <li><a href="https://etherscan.io/address/0xe1237aa7f535b0cc33fd973d66cbf830354d16c7"><span style="font-weight: 400;">yETH has absorbed over 350,000 ETH so far</span></a></li>
    <li><a href="https://twitter.com/iearnfinance/status/1301549387278159873?s=20"><span style="font-weight: 400;">Deposits to yETH have been paused. ~70m DAI minted</span></a><span style="font-weight: 400;">. Withdrawals unaffected.</span></li>
    <li><a href="https://twitter.com/nanexcool/status/1301376157770604545?s=20"><span style="font-weight: 400;">The yETH vault is now the largest vault in MakerDAO</span></a><span style="font-weight: 400;">.&nbsp;</span></li>
    <li><a href="https://twitter.com/bantg/status/1301285381573357568?s=20"><span style="font-weight: 400;">Yearn spent $25,000 on gas in one day</span></a><span style="font-weight: 400;">.&nbsp;</span></li>
    </ul>
    <p><strong>Governance Update&nbsp;</strong></p>
    <ul>
    <li><a href="https://gov.yearn.finance/t/nomination-for-roles-multisig-to-approve-execute/4549"><span style="font-weight: 400;">Nomination for Roles (Multisig to Approve/Execute)</span></a><span style="font-weight: 400;"> - proposal to fill the first few roles in the </span><a href="https://yips.yearn.finance/YIPS/yip-41"><span style="font-weight: 400;">YIP 41 budget</span></a></li>
    <li><a href="https://yips.yearn.finance/YIPS/yip-44"><span style="font-weight: 400;">YIP 44: Improve YIP categories has been Implemented</span></a><span style="font-weight: 400;">.&nbsp;</span></li>
    <li><a href="https://gov.yearn.finance/t/yip-change-5-harvesting-fee-to-performance-fee-on-profits/4613"><span style="font-weight: 400;">YIP: Change 5% Harvesting Fee to Performance Fee on Profits</span></a></li>
    <li><a href="https://gov.yearn.finance/t/yip-upgrade-treasury-vault-to-solve-gas-subsidy-gitcoin-and-more/4732"><span style="font-weight: 400;">YIP: Upgrade Treasury Vault to solve gas subsidy, gitcoin and more</span></a></li>
    <li><a href="https://gov.yearn.finance/t/proposal-change-vault-harvest-function-to-reward-function-caller/4726"><span style="font-weight: 400;">YIP: Change vault harvest() function to reward function caller</span></a></li>
    </ul>
    <p><strong>Ecosystem</strong></p>
    <ul>
    <li><a href="https://medium.com/iearn/yeth-vault-explained-c29d6b93a371"><span style="font-weight: 400;">yETH vault explained</span></a></li>
    <li><a href="https://twitter.com/DeFiGod1/status/1301359378314928128?s=20"><span style="font-weight: 400;">yETH represents a synthetic perpetual long on ETH</span></a></li>
    <li><a href="https://twitter.com/naddison/status/1300974531553574912?s=20"><span style="font-weight: 400;">A diagram of the yETH strategy</span></a><span style="font-weight: 400;">.&nbsp;</span></li>
    <li><a href="https://twitter.com/spreekaway/status/1300116200123400195?s=20"><span style="font-weight: 400;">Thread on $YFI moat and risks of forks overtaking it</span></a></li>
    <li><a href="https://youtu.be/8Yn7jc2fNqU"><span style="font-weight: 400;">Amadeo Brands ON-DeFi talks with Andre Cronje</span></a></li>
    <li><span style="font-weight: 400;">Want yWETH vault to reopen?</span><a href="https://twitter.com/bantg/status/1301581691476115456?s=20"><span style="font-weight: 400;"> Lobby Curve DAO to reduce A parameter to 500 in the http://curve.fi/y pool</span></a><span style="font-weight: 400;">.</span></li>
    <li><a href="https://twitter.com/intotheblock/status/1301854201958608897?s=20"><span style="font-weight: 400;">The average balance of a YFI holder is currently of over $100,000, eclipsing that of other DeFi leaders</span></a><span style="font-weight: 400;">.</span></li>
    <li><a href="https://blog.makerdao.com/executive-vote-september-2-2020/"><span style="font-weight: 400;">MakerDAO: ETH-A Debt Ceiling will be raised from 420 million to 540 million if this proposal passes</span></a><span style="font-weight: 400;">. Note that this change has been expedited by the MakerDAO Risk Team due to the current and projected usage of the new yEarn ETH vault.</span></li>
    <li><a href="https://insights.santiment.net/read/yfi.-what%27s-in-the-cards-5984?utm_source=twitter&amp;utm_medium=post&amp;utm_campaign=twitter_yfi_whats_in_the_cards_article_090320"><span style="font-weight: 400;">Santiment Insights: YFI. What's in the cards</span></a><span style="font-weight: 400;">?&nbsp;</span></li>
    </ul>
  </body>
</html>
