<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yearn Weekly Archive</title>
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
  </head>
  <body>
    <p>🏡 <a href=/>yearn.news home</a></p>
    <h3>Yearn Weekly Archive</h3>
    <ul>
      <li><a href=/newsletters/0>Yearn Weekly #0 - September 5, 2020</a></li>
    </ul>
  </body>
</html>
